.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: $header-height;
    border-bottom: 1px solid var(--header-border);
    padding: 0px 10px;

    .head-left {
        display: flex;
        align-items: center;

        .logo {
            height: 30px;
            width: 30px;
            font-family: sans-serif;
        }

        .title {
            font-size: 24px;
            margin-left: 7px;
            font-weight: 600;
        }

        .menu {
            margin-left: 12px;
            font-size: 24px;
            cursor: pointer;
        }
    }

    .head-right {
        .head-option {
            &:not(:last-child) {
                margin-right: 10px;
            }

            .user-profile {
                $image-size: 35px;
                overflow: hidden;
                height: $image-size;
                width: $image-size;
                display: inline-block;
                vertical-align: middle;
                border-radius: 50%;
                border: 1px solid var(--header-border);

                img {
                    height: 100%;
                    width: 100%;
                    cursor: pointer;
                }
            }
        }
    }
}

.logout-option {
    font-size: 15px;
    transition: 0.3s ease all;
    cursor: pointer;
    color: var(--logout-init);

    &:hover {
        font-size: 17px;
        transition: 0.3s ease all;
        color: var(--logout-hover);
    }
}

.profile-data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 18px;

    .profile-image {
        $image-size: 8rem;
        overflow: hidden;
        height: $image-size;
        width: $image-size;
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
        border: 1px solid var(--header-border);

        img {
            height: 100%;
            width: 100%;
            cursor: pointer;
        }
    }

    .profile-details {
        text-align: center;

        .full-name {
            font-size: 30px;
        }
    }

    .edit {
        margin-top: 10px;
        border: var(--border-max-solid-one-px);
        padding: 5px 10px;
        border-radius: 8px;
        font-size: 12px;
        cursor: pointer;
        transition: .3s ease all;

        &:hover {
            transition: .3s ease all;
            background: var(--primary-color);
            border-color: var(--primary-color);
            color: var(--color);
        }
    }
}

.theme-action {
    margin: 10px;
    border: var(--border-mid-solid-one-px);
    padding: 16px;
    border-radius: 10px;

    .title {
        margin-bottom: 10px;
    }

    .theme-options {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .switch-theme {
            border: var(--border-max-solid-one-px);
            border-radius: 10px;
            padding: 10px;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: $hover-transition;

            i {
                margin-right: 5px;
            }

            &.light {
                &:before {
                    content: var(--theme-switch-light-svg);
                    margin-right: 5px;
                    position: relative;
                    top: 3px;
                }
            }

            &.active,
            &:hover {
                transition: $hover-transition;
                outline: none;
                border-color: var(--primary-color);
                box-shadow: 0 0 12px var(--primary-color);
            }
        }
    }
}