.menu-list {
    height: 100%;
    transition: .3s;
    padding: 10px 0px;
    width: $menu-closed-width;
    box-shadow: 8px 0px 9px 0px #00000014;
    background: var(--app-page-background);
    height: calc(100vh - $header-height);
    position: fixed;
    margin-top: $header-height;

    .menu-content {
        padding-left: 0px;

        li {
            list-style: none;
            transition: .3s;
            margin: 10px;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;

            a {
                text-decoration: none;
                display: flex;
                align-items: center;

                .menu-icon {
                    margin-right: 10px;
                }

                .menu-name {
                    display: none;
                    white-space: nowrap;
                }
            }

            &:hover,
            &.active {
                background: var(--menu-active-background);
            }
        }
    }

    &:hover {
        width: $menu-width;

        li {
            a {
                .menu-name {
                    transition: .3s;
                    display: block;
                }
            }
        }
    }
}

.page-wrapper {
    &.menu-open {
        .menu-list {
            width: $menu-width;

            li {
                a {
                    .menu-name {
                        display: block;
                    }
                }
            }
        }
    }
}