.app-body {
    color: var(--color) !important;
}

.page {
    padding: 16px;
    height: calc(100vh - $header-height);
    margin-left: $menu-closed-width;
    transition: .3s;

    &-head {
        margin-bottom: 16px;
    }
}

.page-wrapper {
    &.menu-open {
        .page {
            margin-left: $menu-width;
            transition: .3s;
        }
    }
}


.page-not-found {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}