[app-data-theme="dark"] {
    --page-background: #121212;
    --color: #fff;

    --primary-active-color: #49227f;
    --primary-hover-color: #381a62;

    --text-active-color: #fff;
    --text-hover-color: #c8c8c8;

    --border-white-initial: #a1a1a1;
}